/* Ini file css */

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

body{
  font-family: inherit;
}

nav {display: flex
    ;
}

nav>a {
  padding: 8px;
  border: 1px solid;
  text-decoration: none;
  color: black;
}

.banner-img {
    background-image: url(https://picsum.photos/300);
    background-position: 0 -120px;
    background-size: cover;
    color: white;
    height: 500px;
}

.banner-1 {
    background-image: url(../assets/1.jpg);
}

.banner-2 {
    background-image: url(../assets/2.jpg);
}

.banner-3 {
    background-image: url(../assets/3.jpg);
}



#home>header>h1 {
  color: rgb(6 9 47);
}

#home>header{
  display: flex;
  justify-content: space-between;
}

.my-profile-content {
    height: 500px;
    align-content: center;
    text-align: center;
    background-color: rgb(197, 211, 224);
}

/* profile css */
.main-isi {
  display: flex;
  flex-direction: column;
}
.main-foto {
  text-align: center;
}
.main-foto img {
  border-radius: 25px;
  margin-bottom: 10px;
}
.main-foto span {
  font-size: 14px;
}

.main-about {
  text-align: justify;
  line-height: 1.5em;
}

.main-about p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: 12vw;
}

.myhobbies-content {
    margin: 40px 0px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0px 100px;
}

.bulat {
    width: 25%;
  }

  .bulat img {
    border: 5px solid rgb(85, 111, 158);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto 5px;
  }
  

.message-us-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

footer {
    text-align: center;
}

/* form */

.main-pesan {
    display: flex;
    background-color: rgb(192, 228, 176);
  }
  .main-form {
    width: 50%;
  }
  .main-form table td {
    padding: 10px;
  }
  .main-form table input[name="submit"] {
    width: 100%;
    background-color: rgb(85, 111, 158);
    padding: 8px;
    border-radius: 5px;
    border: none;
  }
  .main-form table input[name="submit"]:hover {
    background-color: rgb(85, 111, 158);
    cursor: pointer;
  }
  /* .main-data {
    margin: 0px auto;
  } */
  .main-data table td {
    padding: 12px;
  }
  .main-data .td-waktu {
    border-bottom: 1px solid black;
  }
  
  /* Responsive */
@media only screen and (max-width: 600px) {
  .main-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main-logo{
    margin-bottom: 14px;
  }

  main {
    padding: 10px 0px 20px;
    height: 400px;
    background-position: 0 0;
  }
  
  nav {
    width: 100%;
    display: flex; 
    flex-direction: column;
  }

  .myhobbies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .main-form {
    width: 100%;
  }
  .main-form table {
    width: 100%;
  }
  .main-pesan {
    display: flex;
    flex-direction: column;
  }
  .main-data {
    margin: 0px auto;
  }


  .main-foto span {
    font-size: 11px;
  }
  .main-about {
    padding: 20px 5%;
  }


}






